@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.nav {
  background-color: #21222A;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.logo-container {
  color: #61DAFB;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  display: flex;
  gap: 10px;
  font-size: 25px;
}

.project-number  > p{
  color: #DEEBF8;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
}