@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  height: 90px;
  box-shadow: 0px 3px 5px rgb(172, 172, 172, 0.7);
}

.navbar > img {
  width: 100px;
  height: auto;
}

.photo-title-container {
  width: 100%;
}

.photo-container {
  width: 70%;
  padding: 20px 50px;
  margin: auto;
}

.photo-container > img{
  width: 100%;
  height: auto;
}

.title-container {
  padding-left: 30px;
}

.title {
  font-size: 40px;
  margin-bottom: 16px;
}

.description {
  font-size: 16px;
  width: 340px;
}

.card {
  padding-top: 20px;
  padding-left: 20px;
}


.profile-picture-container {
  position: relative;
}

.profile-picture-container > img {
  border-radius: 12px;
  width: 220px;
} 

.availability {
  position: absolute;
  top: 10px;
  background-color: #FFFFFF;
  color: #222222;
  border-radius: 2px;
  left: 10px;
  padding: 1px 6px;
}

.rating {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.rating > img {
  width: 20px;
  height: auto;
  margin-right: 3px;
}

.dot {
  color: #918E9B;
  font-size: 16px;
}

.type,
.price {
  font-size: 13.5px;
}

.starting-price{
  font-weight: bold;
}